// Box shadow.
$box-shadow-helper: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
$box-shadow-button: 0 1px 2px 0 rgba(130, 147, 171, 0.12);
$box-shadow-button-checked: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
$box-shadow-line: inset 0 1px 0 0 rgba(196, 203, 212, 0.4);
$box-shadow-select: 0 1px 2px 0 rgba(51, 71, 225, 0.12);
$box-shadow-subtle: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
$box-shadow-primary: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-modal: 0 2px 6px 0 rgba(0,0,0,0.117);
$box-shadow-modal-background: 0 2px 6px 0 #000033;
